{% extends 'layout/base.html' %}

{% block title %} Clinic - About us {% endblock %}

{% block content %}
	<div class="page-content">
		<!--section-->
		<div class="section mt-0">
			<div class="breadcrumbs-wrap">
				<div class="container">
					<div class="breadcrumbs">
						<a href="index.html">Home</a>
						<span>About Us</span>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->
		<!--section-->
		<div class="section page-content-first">
			<div class="container">
				<div class="text-center mb-2  mb-md-3 mb-lg-4">
					<div class="h-sub theme-color">Our dentists working to your smile</div>
					<h1>About Our Clinic</h1>
					<div class="h-decor"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 text-center text-lg-left pr-md-4">
						<img src="{{ url_for('static', filename='images/content/about-01.jpg') }}" class="w-100" alt="">
						<div class="row mt-3">
							<div class="col-6">
								<img src="{{ url_for('static', filename='images/content/about-03.jpg') }}" class="w-100" alt="">
							</div>
							<div class="col-6">
								<img src="{{ url_for('static', filename='images/content/about-04.jpg') }}" class="w-100" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6 mt-3 mt-lg-0">
						<p>For nearly 16 years, our financial district dentist, Adam Smith, DDS and the dental team at DentCo Dental Clinic have provided cosmetic dentistry as well as family dentistry services. Dr. Adam understands that patients have a variety of practices in the area to choose from.</p>
						<p>Come and experience dentistry carried out a little differently in our Private Practice. A practice where you will:</p>
						<ul class="marker-list-md">
							<li>Be involved in your care and treatment choices</li>
							<li>Be welcomed and feel relaxed and cared for</li>
							<li>Appreciate the well qualified, experienced team</li>
							<li>Want the best dentistry available</li>
						</ul>
						<div class="mt-3 mt-md-7"></div>
						<h3>Mission / Vision <span class="theme-color">Statement</span></h3>
						<div class="mt-0 mt-md-4"></div>
						<p>It is our mission to exceed expectations by providing exceptional dental care to our patients and at the same time, building relationships of trust with them.</p>
						<p>Our vision is to be one of the leading dental clinic in the area, expanding our services to reach additional community members. We work to be trusted by patients, a valued partner in the community.</p>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->
		<!--section-->
		<div class="section">
			<div class="container-fluid px-0">
				<div class="row no-gutters">
					<div class="col-xl-6 bg-grey">
						<div class="max-670 mx-lg-auto px-15">
							<div class="title-wrap">
								<h2 class="h1">Our <span class="theme-color">Advantages</span></h2>
							</div>
							<div class="mt-lg-5"></div>
							<div class="row">
								<div class="col-sm-7">
									<ul class="marker-list-md">
										<li>Specialists and Dentists as One Team</li>
										<li>Initial Dental Assessment</li>
										<li>All Types of Dental Services</li>
										<li>Safety by Credentials</li>
										<li>Dental Implant Experience</li>
										<li>Innovation</li>
										<li>3D Imaging Center</li>
									</ul>
								</div>
								<div class="col-sm-5 mt-1 mt-sm-0">
									<ul class="marker-list-md">
										<li>On-site Laboratory</li>
										<li>“Same Day” Dentistry</li>
										<li>“Same Day” Dental Implants</li>
										<li>Innovative Clinic Design</li>
										<li>Complimentary Consultations</li>
										<li>Insurance and Financing</li>
										<li>Services Cost</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 banner-left bg-full" style="background-image: url({{ url_for('static', filename='images/content/banner-right.jpg') }})"></div>
				</div>
			</div>
		</div>
		<!--//section-->
		<!--section-->
		<div class="section">
			<div class="container">
				<div class="title-wrap text-center">
					<div class="h-sub theme-color">Motivation is easy</div>
					<h2 class="h1">Our Core Values</h2>
					<div class="h-decor"></div>
				</div>
				<div class="row js-icn-carousel icn-carousel flex-column flex-sm-row text-center text-sm-left" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}]}'>
					<div class="col-md">
						<div class="icn-text">
							<div class="icn-text-simple"><i class="icon-innovation"></i></div>
							<div>
								<h5 class="icn-text-title">Innovation</h5>
								<p>Embrace change, encourage invention and continually remain at the forefront of advances in oral health for the good of our patients</p>
							</div>
						</div>
					</div>
					<div class="col-md">
						<div class="icn-text">
							<div class="icn-text-simple"><i class="icon-compassion"></i></div>
							<div>
								<h5 class="icn-text-title">Compassion</h5>
								<p>Demonstrate caring and sensitivity for the diverse backgrounds of our patients and colleagues and generosity in our communities</p>
							</div>
						</div>
					</div>
					<div class="col-md">
						<div class="icn-text">
							<div class="icn-text-simple"><i class="icon-integrity"></i></div>
							<div>
								<h5 class="icn-text-title">Integrity</h5>
								<p>Adhere to high ethical and professional standards, demonstrating commitment to our responsibilities with trust, honesty and respect for all</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->
		<!--section-->
		<div class="section">
			<div class="container-fluid px-0">
				<div class="banner-center bg-cover" style="background-image: url({{ url_for('static', filename='images/content/banner-center.jpg') }})">
					<div class="banner-center-caption text-center">
						<div class="banner-center-text1">Get the Smile You've Always Wanted!</div>
						<div class="banner-center-text2">We strive to provide the highest quality dental treatment at reasonable fees</div>
						<a href="#" class="btn btn-white mt-5" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>Request an Appointment</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!--section-->
		<!--section-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="title-wrap">
							<h2 class="h1">Our Office </h2>
							<div class="h-decor"></div>
						</div>
						<p>Our dental office in is a state of the art dental facility equipped with the newest technology, capable of handling all of your dental needs. All of our operatories are equipped with intraoral cameras that are able to show us, and you, the precise treatment you might attain on a television screen.</p>
						<div class="mt-4"></div>
						<h3>Amenities</h3>
						<div class="mt-lg-4"></div>
						<ul class="marker-list-md">
							<li>TV’s in each treatment room</li>
							<li>Complimentary coffee, Juice</li>
							<li>Wireless Internet</li>
							<li>Warm lavender towels</li>
						</ul>
					</div>
					<div class="col-lg-8 mt-4 mt-lg-0">
						<div class="slider-gallery">
							<ul class="slider-gallery-main list-unstyled js-slider-gallery-main">
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-00.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-01.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-02.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-03.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-04.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-05.jpg') }}" alt=""></li>
							</ul>
							<ul class="slider-gallery-thumbs list-unstyled js-slider-gallery-thumbs">
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-00-sm.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-01-sm.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-02-sm.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-03-sm.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-04-sm.jpg') }}" alt=""></li>
								<li><img src="{{ url_for('static', filename='images/content/slider-gallery-05-sm.jpg') }}" alt=""></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->
	</div>
{% endblock %}

{% block modal %}
    {% include 'layout/modal-booking.html' %}
{% endblock %}