{% extends 'layout/base.html' %}

{% block title %} Clinic - Questions {% endblock %}

{% block content %}
    <div class="page-content pb-4">
        <!--section-->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md col-lg-5">
                        <div class="pr-0 pr-lg-8">
                            <div class="title-wrap">
                                <h2>Ask a Question</h2>
                                <div class="h-decor"></div>
                            </div>
                            <div class="mt-2 mt-lg-4">
                                <p>For general questions, please send us a message and we’ll get right back to you. You
                                    can also call us directly to speak with a member of our service team or insurance
                                    expert.</p>
                                <p class="p-sm">Fields marked with a * are required.</p>
                            </div>
                            <div class="mt-2 mt-md-5"></div>
                            <h5>Stay Connected</h5>
                            <div class="content-social mt-15">
                                <a href="https://www.facebook.com/" target="blank" class="hovicon">
                                    <i class="icon-facebook-logo"></i>
                                </a>
                                <a href="https://www.twitter.com/" target="blank" class="hovicon">
                                    <i class="icon-twitter-logo"></i>
                                </a>
                                <a href="https://plus.google.com/" target="blank" class="hovicon">
                                    <i class="icon-google-logo"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="blank" class="hovicon">
                                    <i class="icon-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md col-lg-6 mt-4 mt-md-0">
                        <form class="contact-form" id="questionForm" method="post" novalidate="novalidate">
                            <div class="successform">
                                <p>Your message was sent successfully!</p>
                            </div>
                            <div class="errorform">
                                <p>Something went wrong, try refreshing and submitting the form again.</p>
                            </div>
                            {% if not current_user.is_authenticated %}
                            <div>
                                <input type="text" class="form-control" name="name" placeholder="Your name*">
                            </div>
                            <div class="mt-15">
                                <input type="text" class="form-control" name="email" placeholder="Email*">
                            </div>
                            {% endif %}
                            <div class="mt-15">
                                <input type="text" class="form-control" name="topic" placeholder="Topic">
                            </div>
                            <div class="mt-15">
                                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Send message</span><i
                                        class="icon-right-arrow"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--//section-->
    </div>
{% endblock %}

{% block modal %}
{% endblock %}