<div class="modal modal-form fade" id="modalBookingForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <button aria-label='Close' class='close' data-dismiss='modal'>
                <i class="icon-error"></i>
            </button>
            <div class="modal-body">
                <div class="modal-form">
                    <h3>Book an Appointment</h3>
                    <form class="mt-15" id="bookForm" method="post" novalidate>
                        <div class="successform">
                            <p>Your message was sent successfully!</p>
                        </div>
                        <div class="errorform">
                            <p>Something went wrong, try refreshing and submitting the form again.</p>
                        </div>
                        <div class="input-group">
								<span>
                                    <i class="icon-user"></i>
                                </span>
                            <input type="text" name="bookingname" class="form-control" autocomplete="off"
                                   placeholder="Your Name*"/>
                        </div>
                        <div class="input-group">
										<span>
											<i class="icon-email2"></i>
										</span>
                            <input type="text" name="bookingemail" class="form-control" autocomplete="off"
                                   placeholder="Your Email*"/>
                        </div>
                        <div class="input-group flex-nowrap mt-1">
								<span>
									<i class="icon-calendar2"></i>
								</span>
                            <div class="datepicker-wrap">
                                <input name="bookingdate" type="text" class="form-control datetimepicker"
                                       placeholder="Date" readonly>
                            </div>
                        </div>
                        <div class="input-group flex-nowrap mt-1">
								<span>
									<i class="icon-clock"></i>
								</span>
                            <div class="datepicker-wrap">
                                <input name="bookingtime" type="text" class="form-control timepicker"
                                       placeholder="Time">
                            </div>
                        </div>
                        <div class="text-right mt-2">
                            <button type="submit" class="btn btn-sm btn-hover-fill">Book now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>