<!-- Vendors -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-migrate/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/cookie/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-datetimepicker/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waypoints/sticky.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/slick/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/scroll-with-ease/jquery.scroll-with-ease.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/countTo/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/form-validation/jquery.form.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/form-validation/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/schedule/schedule.js') }}"></script>
<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/app-shop.js') }}"></script>
<script src="{{ url_for('static', filename='form/forms.js') }}"></script>
<!-- I edited -->
<script type="text/javascript">
    var targetNode = document.getElementById('modalBookingForm');
    var observer = new MutationObserver(function () {
        if (targetNode.style.display === 'none') {
            // doSomething
            $('.datetimepicker').val('');
            $('.timepicker').val('');
            $('label.error').each(function () {
                $(this).css('display', 'none')
            });
        }
    });
    observer.observe(targetNode, {attributes: true, childList: true});
</script>
